$grid-size: 16px;

$unit-width: $grid-size;
$unit-height: $unit-width * 1.5;
$unit-modifier: 5;

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function pixel-modifier($value) {
  @return calc(#{ $value } * var(--pixel-modifier));
}

@mixin pixel-modifier-background($value, $property: "background-image") {
  $breakpoints: (
    2,
    3,
    4
  );

  @for $i from 1 through length($breakpoints) {
    $breakpoint: nth($breakpoints, $i);
    $flatValue: str-replace($value, "[modifier]", $i + 1);

    .pixel-modifier--#{ $breakpoint } & {
      #{ $property }: url(#{$flatValue});
    }
  }
}

@mixin node-horizontal {
  .station-wing .station-wing & {
    @content
  }
}
